@font-face {font-family: 'Noticia Text';
font-style: italic;
font-weight: 700;
src: local('Noticia Text Bold Italic'), local('NoticiaText-BoldItalic'), url(media/NoticiaText-BoldItalic.woff) format('woff');}

@font-face {font-family: 'Noticia Text';
font-style: italic;
font-weight: 400;
src: local('Noticia Text Italic'), local('NoticiaText-Italic'), url(media/NoticiaText-Italic.woff) format('woff');}

@font-face {font-family: 'Noticia Text';
font-style: normal;
font-weight: 400;
src: local('Noticia Text'), local('NoticiaText-Regular'), url(media/NoticiaText-Regular.woff) format('woff');}

@font-face {font-family: 'Noticia Text';
font-style: normal;
font-weight: 700;
src: local('Noticia Text Bold'), local('NoticiaText-Bold'), url(media/NoticiaText-Bold_2.woff) format('woff');}

.user-contents {
    font-family: 'Noticia Text', serif;
    font-weight: 400;
    line-height: 18pt;
    text-align: justify;
    word-wrap: break-word;
    hyphens: auto;
}
div#flow {
    font-size: 12pt;
}
div#print {
    font-size: 9pt;
}
div#print,
div#flow {
    counter-reset: footnote-counter footnote-marker-counter heading section subsection figure-cat-figure figure-cat-photo figure-cat-table !important;
}
.article-title {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 0 0.333em;
    font-size: 2em;
    font-weight: 700;
    text-transform: capitalize;
}
div#print .article-title {
    justify-content: center;
    display: flex;
    align-items: center;
}
.article-subtitle {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6em;
    font-weight: 400;
}
div#print .article-subtitle {
    justify-content: center;
}
.article-authors {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    break-after: always;
    font-size: 1.25em;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}
div#print .article-authors {
    display: center;
    text-align: center;
}
.article-abstract {
    margin: 0 0 0.5em;
    line-height: 15pt;
}
.article-part.article-abstract::before {
    content: 'ABSTRACT';
    color: black;
    font-weight: 700;
}
div#print .article-abstract {
    column-count: 2;
    column-fill: auto;
    -moz-column-count: 2;
}
.article-part.article-keywords::before {
    content: 'Keywords\A';
    color: black;
    font-weight: 700;
}
.article-keywords {
    margin: 0 -10 0.5em;
    line-height: 15pt;
}
.article-part.metadata {
    margin-top: 30px;
    margin-bottom: 40px;
    line-height: 25px;
}
.pagination-footnote:before,
.pagination-footnote > * > *:first-child:before {
    font-family: 'Noticia Text', serif;
    font-weight: 700;
    font-size: 1em;
    text-align: left;
    font-style: normal;
    vertical-align: super;
    line-height: 0;
}
.pagination-footnote > * > *:first-child:before {
    margin-right: 5px;
}
.pagination-footnote > * > * {
    font-family: 'Noticia Text', serif;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.35em;
}
.pagination-pagenumber {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-align: center !important;
}
.pagination-footnotes {
    margin-top: 25px;
}
.user-contents h1,
.user-contents h2,
.user-contents h3,
.user-contents h4,
.user-contents p,
.user-contents dl,
.user-contents blockquote,
.user-contents code,
.user-contents ol,
.user-contents ul {
    margin-bottom: 18px;
}
.user-contents h1,
.user-contents h2,
.user-contents h3,
.user-contents h4,
.user-contents h5,
.user-contents h6 {
    font-family: 'Noticia Text', serif;
    font-weight: 700;
    hyphens: none;
    line-height: 1.0 em;
}
.user-contents h1 {
    font-size: 1.4em;
    font-weight: 700;
}
.user-contents h2 {
    font-size: 1.3em;
    font-weight: 700;
}
.user-contents h3 {
    font-size: 1.2em;
    font-weight: 700;
}
.user-contents h4 {
    margin: 1.33333333em 0 0 0;
    font-size: 1.1em;
    font-weight: 400;
    font-style: italic;
}
.user-contents h5 {
    margin: 1.33333333em 0 0 0;
    font-size: 1.1em;
    font-weight: 400;
    font-variant: small-caps;
}
.user-contents h6 {
    margin: 1.33333333em 0 0 0;
    font-size: 1.1em;
    font-weight: 400;
    text-decoration: underline;
}
div#print .article-body {
    column-count: 2;
    column-fill: auto;
    -moz-column-count: 2;
}
.article-body h1:before {
    counter-increment: heading;
    /* add 1 to heading */
    
    content: counter(heading) ". ";
}
.article-body h1 {
    counter-reset: subheading section;
    /* set section to 0 */
}
.article-body h2:before {
    content: counter(heading) "." counter(subheading) " ";
    counter-increment: subheading subsection;
}
.article-body h2 {
    counter-reset: section;
}
.article-body h3:before {
    content: counter(heading) "." counter(subheading) "." counter(section) " ";
    counter-increment: section;
}
.article-body h3 {
    counter-reset: subsection;
}
div#print .article-body,
.pagination-footnote > * > * {
    font-size: 1em;
}
/*unordered lists (<ul>) - the list items are marked with bullets*/
/*ordered lists (<ol>) - the list items are marked with numbers or letters*/
/*Anything added to the <ol> or <ul> tag, affects the entire list, while properties added to the <li> tag will affect the individual list items*/

.user-contents p,
.user-contents ol li,
.user-contents ul li {
    font-size: 1em;
    margin: 0 0 0.5em;
    line-height: 18pt;
    text-indent: 0;
    counter-reset: figures;
}
.user-contents strong,
div#print strong {
    font-weight: 700;
}
.user-contents em,
div#print em {
    font-style: italic;
}
.user-contents ul,
.user-contents ol {
    padding-left: 15px;
}
.user-contents ul {
    list-style: disc;
    /*A filled circle*/
}
.user-contents ol {
    list-style: decimal;
}
.user-contents blockquote {
    font-style: italic;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.8em;
    line-height: 1.4em;
}
.user-contents code {
    display: block;
    font-family: 'Courier', monospace;
    font-size: 1.1em;
    line-height: 1.75em;
    white-space: pre-line;
}
.article-bibliography p {
    font-size: 1.2em;
    margin-bottom: 18px;
}
.figure {
    counter-increment: figures;
}
.figcaption:before {
    content: "Fig. " counter(figures) " - ";
}
.equation {
    margin: 3pt 0;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
}
.pagination-page .pagination-contents-container {
    right: 80px !important;
    left: 80px !important;
}
.pagination-page .pagination-main-contents-container {
    height: 927px;
}
div#print table {
    border-collapse: initial;
    border-spacing: initial;
    margin-bottom: 30px;
}
div#print tr,
div#print td {
    padding: 4px;
    border: 1px solid black;
}
div#print figure {
    margin: 0 0 30px 0;
}
.article-bibliography-header {
    text-transform: 'uppercase';
}
div#print .article-bibliography {
    margin-top: 30px;
    column-count: 2;
    column-fill: auto;
    -moz-column-count: 2;
}